/* -----------------------------------------
    Product CSS
----------------------------------------- */
.product-default {
    position: relative;
    overflow: hidden;
    background: var(--color-white);
    @include transition(all, .3s, ease-out);

    .product-img{
        img{
            @include transition(transform, .3s, ease-out);
        }
    }

    .product-details {
        padding: 16px;
    }

    .product-category {
        font-size: var(--font-sm);
        font-weight: var(--font-medium);
    }

    .btn-wishlist,
    .product-category{
        i{
            color: var(--color-primary);
        }
    }

    .product-title {
        margin-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .product-location{
        font-weight: var(--font-medium);
        i{
            font-size: var(--font-sm);
        }
    }

    &:hover {
        border-color: transparent !important;
        box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.1);

        .btn-wishlist {
            i{
                font-weight: 700;
            }
        }

        .product-img {
            img {
                transform: scale3d(1.05, 1.05, 1.05);
            }
        }
    }
}

.product-ratings {
    color: var(--color-yellow);
}

.product-price {
    @include make-flex(center, start);

    .price {
        font-weight: var(--font-semi-bold);
    }
}

.product-location{
    i{
        color: var(--color-primary);
    }
}

.product-info {
    margin-bottom: 0;
    font-weight: 500;
    font-size: var(--font-sm);
    color: var(--color-primary);

    i{
        font-size: 20px;
    }

    span{
        color: var(--color-medium);
    }

    li:not(:last-child) {
        padding-inline-end: 10px;
        margin-inline-end: 10px;
        border-right: 1px solid var(--border-color);
    }
}

.product-column {
    border-radius: 0 15px 15px 0;
    .product-img {
        position: relative;
        overflow: hidden;
        padding: 0;
        border-radius: 0 15px 15px 0;
    }

    .product-title {
        margin-top: 5px;
        margin-bottom: 5px;
        -webkit-line-clamp: 1;
    }

    .product-details {
        padding: 0;
        padding-inline-start: 22px;
    }

    .product-list-group {
        margin-top: 15px;
        padding-inline-start: 16px;

        li {
            list-style-type: disc;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    .product-info{
        margin-top: 20px;
    }

    .product-price{
        margin-top: 0;
        margin-bottom: 10px;
    }
}

.product-inline {
    display: flex;
    border-width: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    background: transparent;

    .product-img {
        flex: 0 0 35%;
        max-width: 35%;
        overflow: hidden;

        img {
            background-color: var(--color-light-1);
        }
    }

    .product-title {
        -webkit-line-clamp: 1;
        margin-bottom: 0;
    }

    .product-details {
        flex: 0 0 70%;
        max-width: 70%;
        padding: 0;
        padding-inline-start: 10px;
    }

    .product-location{
        font-size: var(--font-sm);
        i{
            font-size: var(--font-sm);
        }
    }

    .product-price{
        margin: 0;
        font-size: var(--font-xsm);
        .new-price{
            font-size: 12px;
            margin-inline-end: 5px;
        }
    }

    .product-info {
        margin-top: 5px;
        i{
            font-size: 12px;
        }
    }

    &:hover {
        box-shadow: none;
    }
}

.listing-single {
    .product-single-gallery {
        position: relative;
        padding-bottom: 30px;

        .swiper-slide{
            overflow: hidden;
        }
        .slider-btn{
            position: absolute;
            top: 50%;
            width: 50px;
            height: 50px;
            transform: translateY(-50%);
            z-index: 4;
            background: rgba($color: var(--color-white-rgb), $alpha: .2);
            backdrop-filter: blur(20px);

            &.slider-btn-prev {
                left: 1%;
            }
            &.slider-btn-next {
                right: 1%;
            }
        }
    }

    .slider-thumbnails {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 60%;
        z-index: 1;

        .thumbnail-img {
            cursor: pointer;

            img{
                object-fit: cover;
                height: 100%;
            }
        }
    }

    .product-full-screen {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .product-single-details {
        .product-title {
            font-size: 32px;
        }

        .product-price {
            h3{
                margin-inline-end: 10px;
            }
        }

        .share-link{
            li{
                display: inline-block;
                text-align: center;
                line-height: 1;
            }
            li:not(:last-child) {
                margin-inline-end: 10px;
                padding-inline-end: 10px;
            }
            span{
                font-size: var(--font-xsm);
            }
            
            .btn{
                padding: 0;
                font-weight: normal;
                color: var(--color-medium);

                &.blue {
                    i{
                        color: var(--color-blue);
                    }
                }
                &.red {
                    i{
                        color: var(--color-red);
                    }
                }
            }
        }
        .product-desc{
            p:last-child{
                margin-bottom: 0;
            }
        }

        
        .progress{
            height: 10px;
            border-radius: 30px;
            .progress-bar{
                border-radius: 30px;
                background: var(--color-primary);
            }
        }
    }
}

.product-sort-area {
    p{
        margin-inline-end: 20px;
    }
    .product-sort-list {
        text-align: right;
    }
    .item {
        display: inline-block;
        &:not(:last-child) {
            margin-inline-end: 10px;
        }
    }

    .nice-select {
        border: 0;
        padding: 0;
        line-height: 1;
        height: auto;
        padding-inline-end: 10px;
        &::after{
            right: 0;
        }
        .list {
            min-width: 150px;
        }
    }

    .btn-icon {
        width: auto;
        height: auto;
        background: transparent;
        color: var(--color-gray-1);

        &.active,
        &:hover {
            color: var(--color-primary);
        }
    }
}

.featured-list{
    li{
        margin-inline-end: 20px;
        margin-bottom: 10px;

        i{
            color: var(--color-primary);
        }
    }
}

.product-area{
    position: relative;
    overflow: hidden;

    .shape{
        img{
            position: absolute;
            z-index: -1;
            &.shape-1{
                left: -5%;
                top: 10%;
                animation: moveUpDown 10s linear infinite;
            }
            &.shape-2{
                right: -5%;
                bottom: 2%;
                animation: moveUpDown 10s linear infinite;
            }
            &.shape-3{
                left: -4%;
                bottom: 0%;
                animation: moveUpDown 10s linear infinite;
            }
            &.shape-4{
                right: -5%;
                top: 10%;
                animation: moveUpDown 10s linear infinite;
            }
        }
    }
}